.schedule-container {
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.is-current-class {
  border-color: rgba(56, 189, 248, 0.8) !important;
  box-shadow: 0 0 12px 2px rgba(56, 189, 248, 0.5);
}
